openapi: 3.1.0
info:
  title: Atlas V2 API
  version: 2.0.0
  summary: Rangeway's internal relationship and site-development API.
  description: >-
    The authenticated API boundary for Atlas. Clients may present either a signed
    human session cookie or one Atlas bearer credential, but never both.
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
  - url: https://atlas.rangeway.app/api/v2
    description: Atlas production
tags:
  - name: System
    description: Service health and readiness.
  - name: Identity
    description: Actor authentication and session lifecycle.
  - name: Organizations
    description: Organization-scoped foundation operations.
security:
  - sessionCookie: []
  - atlasBearer: []
paths:
  /api/auth/google:
    get:
      operationId: beginGoogleWorkspaceSignIn
      summary: Begin Google Workspace sign-in
      description: >-
        Public browser redirect surface outside the /api/v2 namespace. Creates a
        short-lived, HTTP-only OAuth state cookie and redirects to Google. It does
        not create an Atlas session or link a Google subject.
      tags: [Identity]
      security: []
      parameters:
        - $ref: "#/components/parameters/RequestId"
      servers:
        - url: https://atlas.rangeway.app
          description: Atlas production origin
      # Browser redirect endpoint: a successful OAuth start is intentionally 302,
      # and its only configured failure is 503 rather than a fabricated 4XX.
      responses:
        "302":
          description: Redirect to the configured Google OAuth authorization endpoint.
          headers:
            Location:
              description: Google OAuth authorization URL.
              schema:
                type: string
                format: uri
            Set-Cookie:
              description: Short-lived, HTTP-only OAuth state cookie.
              schema:
                type: string
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
        "503":
          description: Google OAuth is not configured.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            text/plain:
              schema:
                type: string
                const: Google SSO is not configured.
  /api/auth/google/callback:
    get:
      operationId: completeGoogleWorkspaceSignIn
      summary: Complete Google Workspace sign-in
      description: >-
        Public Google OAuth callback outside the /api/v2 namespace. Validates the
        state cookie, exchanges and verifies Google's ID token, then atomically
        links or updates the pre-provisioned Atlas human identity. Only a verified
        callback may persist Google's immutable subject. Success creates the
        canonical signed human session and redirects to ATLAS_ORIGIN.
      tags: [Identity]
      security: []
      servers:
        - url: https://atlas.rangeway.app
          description: Atlas production origin
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - name: code
          in: query
          required: true
          schema:
            type: string
            minLength: 1
        - name: state
          in: query
          required: true
          schema:
            type: string
            minLength: 1
      # Browser redirect endpoint: a successful verified callback is intentionally 302.
      responses:
        "302":
          description: Session created and browser redirected to the configured Atlas origin.
          headers:
            Location:
              description: Configured Atlas browser origin.
              schema:
                type: string
                format: uri
            Set-Cookie:
              description: Signed Atlas human session plus expiration of the OAuth state cookie.
              schema:
                type: string
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
        "400":
          description: Missing, malformed, expired, or mismatched OAuth state.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            Set-Cookie:
              description: Expires the OAuth state cookie.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "401":
          description: The verified Google identity cannot authenticate an enabled Atlas human.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            Set-Cookie:
              description: Expires the OAuth state cookie.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "500":
          description: Google exchange, verification, or identity persistence failed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            Set-Cookie:
              description: Expires the OAuth state cookie.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /health:
    get:
      operationId: getHealth
      summary: Get API health
      description: Returns the V2 web service identity without requiring authentication.
      tags: [System]
      security: []
      parameters:
        - $ref: "#/components/parameters/RequestId"
      responses:
        "200":
          description: The API process is available.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "500":
          $ref: "#/components/responses/ApiError"
        4XX:
          $ref: "#/components/responses/ApiError"
  /me:
    get:
      operationId: getCurrentActor
      summary: Get the current actor
      description: Resolves the authenticated human, agent, or automation actor.
      tags: [Identity]
      parameters:
        - $ref: "#/components/parameters/RequestId"
      responses:
        "200":
          description: The current actor context.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [actor]
                properties:
                  actor:
                    $ref: "#/components/schemas/ActorContext"
        "401":
          $ref: "#/components/responses/ApiError"
        "500":
          $ref: "#/components/responses/ApiError"
  /auth/local/login:
    post:
      operationId: createLocalSession
      summary: Create a local development session
      description: >-
        Verifies an Argon2id password and creates a signed human session. This route
        is hidden with a 404 unless local authentication is enabled outside production.
      tags: [Identity]
      security: []
      parameters:
        - $ref: "#/components/parameters/RequestId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LocalLoginRequest"
      responses:
        "200":
          description: The signed session was created.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            Set-Cookie:
              description: Secure, HTTP-only signed human session cookie.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [actor]
                properties:
                  actor:
                    $ref: "#/components/schemas/ActorContext"
        "400":
          $ref: "#/components/responses/ApiError"
        "401":
          $ref: "#/components/responses/ApiError"
        "404":
          $ref: "#/components/responses/ApiError"
        "500":
          $ref: "#/components/responses/ApiError"
  /auth/logout:
    post:
      operationId: deleteCurrentSession
      summary: Clear the current human session
      description: Clears the signed session cookie whether or not it is currently valid.
      tags: [Identity]
      security: []
      parameters:
        - $ref: "#/components/parameters/RequestId"
      responses:
        "200":
          description: The human session cookie was cleared.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            Set-Cookie:
              description: Expired human session cookie.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    const: true
        "500":
          $ref: "#/components/responses/ApiError"
        4XX:
          $ref: "#/components/responses/ApiError"
  /organizations/{organizationId}:
    patch:
      operationId: updateOrganization
      summary: Update an organization name
      description: >-
        Updates the authenticated actor's organization name. Cross-organization
        targets use the same safe NOT_FOUND envelope as unknown resources. This
        narrow foundation operation exists to prove atomic mutation, audit, and
        outbox behavior before Operating Core resources are introduced. Repeating
        the same request with the same idempotency key returns the stored response
        without duplicating the mutation, audit event, or outbox event. Reusing a
        key for a different request returns CONFLICT.
      tags: [Organizations]
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrganizationUpdateRequest"
      responses:
        "200":
          description: The organization name was updated and audit/outbox records were committed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationResponse"
        "400":
          $ref: "#/components/responses/ApiError"
        "401":
          $ref: "#/components/responses/ApiError"
        "403":
          $ref: "#/components/responses/ApiError"
        "404":
          $ref: "#/components/responses/ApiError"
        "409":
          $ref: "#/components/responses/ApiError"
        "500":
          $ref: "#/components/responses/ApiError"
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: rw_session
      description: HMAC-signed, expiring human session cookie.
    atlasBearer:
      type: http
      scheme: bearer
      bearerFormat: atlas_<12-character-prefix>.<secret>
      description: >-
        Atlas agent or automation credential. The Bearer scheme is
        case-insensitive; the Atlas key shape remains strict.
  parameters:
    RequestId:
      name: X-Request-Id
      in: header
      required: false
      description: A valid caller-supplied UUID to retain for end-to-end tracing.
      schema:
        type: string
        format: uuid
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: >-
        Caller-generated key scoped to the authenticated organization, actor,
        and operation. Use the same key only when retrying the same request.
      schema:
        type: string
        minLength: 8
        maxLength: 128
        pattern: "^[A-Za-z0-9._:-]+$"
  headers:
    RequestId:
      required: true
      description: The retained or server-generated request UUID.
      schema:
        type: string
        format: uuid
  responses:
    ApiError:
      description: A stable, safe API error. Private and unknown resources both use NOT_FOUND.
      headers:
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiErrorBody"
  schemas:
    HealthResponse:
      type: object
      additionalProperties: false
      required: [status, service, apiVersion]
      properties:
        status:
          type: string
          const: ok
        service:
          type: string
          const: atlas-web
        apiVersion:
          type: string
          const: v2
    LocalLoginRequest:
      type: object
      additionalProperties: false
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 1
    OrganizationUpdateRequest:
      type: object
      additionalProperties: false
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
    OrganizationResponse:
      type: object
      additionalProperties: false
      required: [organization]
      properties:
        organization:
          type: object
          additionalProperties: false
          required: [id, name]
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
              minLength: 1
              maxLength: 200
    ActorContext:
      type: object
      additionalProperties: false
      required:
        - actorId
        - actorType
        - actorName
        - organizationId
        - role
        - requestId
      properties:
        actorId:
          type: string
          format: uuid
        actorType:
          type: string
          enum: [human, agent, automation]
        actorName:
          type: string
          minLength: 1
        organizationId:
          type: string
          format: uuid
        role:
          type: string
          enum: [owner, admin, member, viewer]
        requestId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
    ApiErrorBody:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          additionalProperties: false
          required: [code, message, requestId]
          properties:
            code:
              type: string
              enum:
                - INVALID_INPUT
                - UNAUTHENTICATED
                - FORBIDDEN
                - NOT_FOUND
                - CONFLICT
                - RATE_LIMITED
                - INTERNAL_ERROR
            message:
              type: string
            requestId:
              type: string
              format: uuid
            details: true
